@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.banner {
  background-image: url(./img/banner-bg.jpg);
  background-color: #5b7ba8;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.launch-date {
  background: -webkit-linear-gradient(45deg, #db21fe, #06f7a8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -100px;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
.with-gif {
  background: linear-gradient(45deg, #db21fe, #06f7a8);
  min-width: 100vw;
  overflow: hidden;
}
.custom-shape-divider-bottom-1634034545 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1634034545 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 41px;
}

.custom-shape-divider-bottom-1634034545 .shape-fill {
  fill: rgba(6, 247, 168, 0.5);
}

.btn {
  border-radius: 30px;
  border: none;
  outline: none;
}
.btn-special {
  background-image: linear-gradient(90deg, #333, #000);
  color: #eee;
}
.fa {
  transition: all 0.3s;
}
.custom-shape-divider-bottom-1634045101 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1634045101 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 27px;
}

.custom-shape-divider-bottom-1634045101 .shape-fill {
  fill: #bd10e0;
}
.about {
  background: #bd10e0;
  min-width: 100vw;
  overflow: hidden;
}
h1 {
  color: #fff;
  font-weight: 700;
}
.roadmap h1 {
  color: #333;
  font-weight: 700;
}
h2 {
  color: #fff;
  font-weight: 600;
  font-size: 5rem;
}
h5 {
  color: #fff;
}
p {
  font-size: 18px;
}
.card-about {
  background: #fcfa7b;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
  color: #555;
}
.custom-shape-divider-bottom-1634048622 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1634048622 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
}

.custom-shape-divider-bottom-1634048622 .shape-fill {
  fill: #29ffbf;
}
.roadmap {
  background: #29ffbf;
  width: 100%;
}

.cir {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
  border: 2px solid #000;
}
.cir-red {
  background: #eb0000;
}
.cir-green {
  background: #009b34;
}
.cir-grey {
  background: #ccc;
}
.card-header-yellow {
  background: #f8f538;
}
.card-header-purple {
  background: #da39fa;
}
.card-header-blue {
  background: #46a9fa;
}
.card-header-red {
  background: #ff6262;
}
.card-header-green {
  background: #00d169;
}
.roadmap .card-body h1 {
  font-size: 7rem;
}
.roadmap .card {
  box-shadow: 15px 15px 10px #555;
}
.card ul {
  list-style-type: none;
}
.card li,
.card ul {
  transition: all 0.3s;
}
.card-number {
  overflow: hidden;
}
.card h1 {
  transition: all 0.3s;
}
.card h1:hover {
  transform: scale(1.5);
}
.card li:hover {
  margin-left: 20px;
}
.btn-very-special {
  border-radius: 50px;
  font-size: 2rem;
  background: linear-gradient(90deg, #333, #000);
  color: #fff;
  transition: all 0.5s;
}
.btn-very-special:hover {
  transform: scale(1.1);
}
.teams {
  background: #46a9fa;
}
.teams h3,
.teams h1 {
  font-weight: 700;
  color: #b3ffe2;
}
.teams p,
.teams span {
  color: #fff;
}
.teams img {
  transition: all 0.3s;
}
.teams img:hover {
  transform: scale(1.1) rotate(10deg);
}
.teams .bw img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* FOOTER */
.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  text-decoration: underline;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@media screen and (max-width: 600px) {
  .roadmap .card-body h1 {
    font-size: 5rem;
  }
  .card-roadmap-details {
    padding-top: 30px;
  }
  .teams h3 {
    font-size: 1.7rem;
  }
  .teams p {
    font-size: 1.1rem;
  }
  .teams span {
    font-size: 0.8rem;
  }
}
